In [1]:
import pandas as pd
from pandas import DataFrame
import pyarrow as pa
import pyarrow.parquet as pq
from datetime import datetime

In [2]:
rcjsonfile = open('/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/json/711RCF20190926_031857.json','r')
#rtjsonfile = open('/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/json/rt711data.json','r')

In [3]:
rcjsondf = DataFrame(pd.read_json(rcjsonfile))

In [4]:
now = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [5]:
#rcjsondf.columns

In [6]:
rcjsondf['File_Source'] = 'Cash-711'
rcjsondf['File_Timestamp'] = now

In [7]:
#Adding non applicable columns
rcjsondf['Payment_Record_Type'] = ''
rcjsondf['Secondary_Confirmation_Number'] = ''
rcjsondf['Cancellation_Origination_Code'] = ''
rcjsondf['GNR_Number'] = ''
rcjsondf['GNR_Sequence_Number'] = ''
rcjsondf['Booking_Date'] = ''
rcjsondf['Room_Type'] = ''
rcjsondf['Commission_Flat_Amount'] = ''
rcjsondf['Promotion_Code'] = ''
rcjsondf['Agency_Address_3'] = ''
rcjsondf['Parent_Child_Indicator'] = ''
rcjsondf['Affiliation_Of_TA'] = ''
rcjsondf['Primary_Source_Code'] = ''
rcjsondf['Secondary_Source_Code'] = ''
rcjsondf['Invoice_Flag'] = ' '
rcjsondf['Commission_Processing_Flag'] = ' '
rcjsondf['Grouping_ID'] = ''
rcjsondf['Third_Party_Fee_Invoice_Code'] = ''
rcjsondf['Third_Party_Fee_Amount_USD'] = ''
rcjsondf['Category_ID'] = ''

In [8]:
osfdata = (rcjsondf[[
  'File_Source'
, 'File_Timestamp'
, 'Record_Type'
, 'Payment_Record_Type'
, 'Action_Code'
, 'Reported_Commission_Record_Number'
, 'Brand_Code'
, 'Chain_Property_ID'
, 'Booking_Source'
, 'Chain_Confirmation_Number'
, 'Secondary_Confirmation_Number'
, 'Chain_Cancellation_Number'
, 'Cancellation_Origination_Code'
, 'Corporate_ID_Number'
, 'ARC_IATA_Number'
, 'Group_Guest_Last_Name'
, 'Group_Guest_First_Name'
, 'PNR_Number'
, 'GNR_Number'
, 'GNR_Sequence_Number'
, 'Record_Status_Code'
, 'Record_Reason_Code'
, 'Arrival_Date'
, 'Departure_Date'
, 'Booking_Date'
, 'Room_Type'
, 'Number_of_Nights'
, 'Number_of_Rooms'
, 'Commissionable_Revenue'
, 'Gross_Commission_Due'
, 'Adjustment_Amount'
, 'Net_Commission_Due'
, 'Commission_Percentage'
, 'Commission_Flat_Amount'
, 'Transaction_Currency_Code'
, 'Total_Tax_Records'
, 'Total_Tax_Amount'
, 'Rate_Plan'
, 'Promotion_Code'
, 'Agency_Name'
, 'Agency_Address_1'
, 'Agency_Address_2'
, 'Agency_Address_3'
, 'Agency_City'
, 'Agency_State_Province_Code'
, 'Agency_Country_Code'
, 'Agency_Postal_Code'
, 'Agency_Phone_Number'
, 'Agency_Payment_Currency'
, 'Report_ID'
, 'Surrogate_Number'
, 'Parent_Child_Indicator'
, 'Affiliation_Of_TA'
, 'Primary_Source_Code'
, 'Secondary_Source_Code'
, 'Invoice_Flag'
, 'Commission_Processing_Flag'
, 'Grouping_ID'
, 'Third_Party_Fee_Invoice_Code'
, 'Third_Party_Fee_Amount_USD'
, 'Category_ID'
, 'GDS_Confirmation_Number'
]]).astype(str)

In [9]:
pd.set_option('mode.chained_assignment', None)
osfdata.rename(columns=
{'Reported_Commission_Record_Number' : 'Payment_Record_Number'},inplace=True)

In [10]:
#osfdata = osfdata.astype(str)

In [11]:
#osfcsv = open ('/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/csv/osfdata.csv','a+')

In [12]:

#export_psf_csv = osfdata.to_csv(osfcsv, sep= '|', index=None, header=True, mode='a')

In [13]:
#print(osfdata)
#osfdata.info()

In [14]:
table = pa.Table.from_pandas(osfdata)

In [15]:
#table

In [16]:
table.to_pandas()

,File_Source,File_Timestamp,Record_Type,Payment_Record_Type,Action_Code,Payment_Record_Number,Brand_Code,Chain_Property_ID,Booking_Source,Chain_Confirmation_Number,...,Affiliation_Of_TA,Primary_Source_Code,Secondary_Source_Code,Invoice_Flag,Commission_Processing_Flag,Grouping_ID,Third_Party_Fee_Invoice_Code,Third_Party_Fee_Amount_USD,Category_ID,GDS_Confirmation_Number
0,Cash-711,2019-10-22 15:26:48,RC,,A,192680000001,HI,OTH,NCLUK02099,02051909DD,...,,,,,,,,,,0.0
1,Cash-711,2019-10-22 15:26:48,RC,,A,192680000002,YZ,OTH,BHXSB15978,10726MR,...,,,,,,,,,,0.0
2,Cash-711,2019-10-22 15:26:48,RC,,A,192680000003,HI,OTH,LONRP08754,1120375MR,...,,,,,,,,,,0.0
3,Cash-711,2019-10-22 15:26:48,RC,,A,192680000004,HI,OTH,CVTHR08795,1909131MR,...,,,,,,,,,,0.0
4,Cash-711,2019-10-22 15:26:48,RC,,A,192680000005,EX,OTH,TNTUK06638,2019003491MR,...,,,,,,,,,,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697267,Cash-711,2019-10-22 15:26:48,TX,,EX,192680732010,GB,V,None,632,...,,,,,,,,,,nan
697268,Cash-711,2019-10-22 15:26:48,RC,,A,192680732011,EX,OTH,EDIAP16030,44967986,...,,,,,,,,,,0.0
697269,Cash-711,2019-10-22 15:26:48,TX,,EX,192680732011,GB,V,None,632,...,,,,,,,,,,nan
697270,Cash-711,2019-10-22 15:26:48,RC,,A,192680732012,EX,OTH,EDIAP16030,48315306,...,,,,,,,,,,0.0
697271,Cash-711,2019-10-22 15:26:48,TX,,EX,192680732012,GB,V,None,632,...,,,,,,,,,,nan

In [17]:
 #pq.write_table(table, '/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/pqt/osfdata.parquet',compression='none')

In [21]:
 pq.write_to_dataset(table, root_path = '/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/pqt/osfdata_part_parquet711',partition_cols=['Brand_Code'], compression='none', use_dictionary=False)

In [19]:
#df = pd.read_parquet('/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/pqt/osfdata_part_parquet')

In [20]:
#df["Brand_Code"].value_counts()

AttributeError: 'DataFrame' object has no attribute 'table'