In [167]:
import pandas as pd
from pandas import DataFrame as df
import pyarrow as pa
import pyarrow.parquet as pq
from datetime import datetime

In [168]:
#dataset1 = pq.ParquetDataset('/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/pqt/osfdata_part_parquet711')

In [169]:
dataset1 = DataFrame(pd.read_parquet('/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/pqt/osfdata_part_parquet711'))

In [170]:
dataset2 = DataFrame(pd.read_parquet('/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/pqt/osfdata_part_parquet95'))

In [176]:
dataset1.append(dataset2,ignore_index = True, sort = True)

,ARC_IATA_Number,Action_Code,Adjustment_Amount,Affiliation_Of_TA,Agency_Address_1,Agency_Address_2,Agency_Address_3,Agency_City,Agency_Country_Code,Agency_Name,...,Room_Type,Secondary_Confirmation_Number,Secondary_Source_Code,Surrogate_Number,Third_Party_Fee_Amount_USD,Third_Party_Fee_Invoice_Code,Total_Tax_Amount,Total_Tax_Records,Transaction_Currency_Code,__index_level_0__
0,R106139207,HI,nan,,None,None,,None,None,None,...,,,,None,,,nan,nan,None,NaN
1,R106139207,HI,nan,,None,None,,None,None,None,...,,,,None,,,nan,nan,None,NaN
2,R105445688,EX,nan,,None,None,,None,None,None,...,,,,None,,,nan,nan,None,NaN
3,R105445688,EX,nan,,None,None,,None,None,None,...,,,,None,,,nan,nan,None,NaN
4,R105227086,EX,nan,,None,None,,None,None,None,...,,,,None,,,nan,nan,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336203,nan,nan,nan,nan,None,None,None,None,None,None,...,nan,nan,None,None,nan,None,nan,nan,nan,1638931.0
2336204,nan,nan,nan,nan,None,None,None,None,None,None,...,nan,nan,None,None,nan,None,nan,nan,nan,1638932.0
2336205,nan,nan,nan,nan,None,None,None,None,None,None,...,nan,nan,None,None,nan,None,nan,nan,nan,1638933.0
2336206,nan,nan,nan,nan,None,None,None,None,None,None,...,nan,nan,None,None,nan,None,nan,nan,nan,1638934.0
2336207,nan,nan,nan,nan,None,None,None,None,None,None,...,nan,nan,None,None,nan,None,nan,nan,nan,1638935.0

In [177]:
dataset1.columns

Index(['File_Source', 'File_Timestamp', 'Record_Type', 'Payment_Record_Type',
       'Action_Code', 'Payment_Record_Number', 'Chain_Property_ID',
       'Booking_Source', 'Chain_Confirmation_Number',
       'Secondary_Confirmation_Number', 'Chain_Cancellation_Number',
       'Cancellation_Origination_Code', 'Corporate_ID_Number',
       'ARC_IATA_Number', 'Group_Guest_Last_Name', 'Group_Guest_First_Name',
       'PNR_Number', 'GNR_Number', 'GNR_Sequence_Number', 'Record_Status_Code',
       'Record_Reason_Code', 'Arrival_Date', 'Departure_Date', 'Booking_Date',
       'Room_Type', 'Number_of_Nights', 'Number_of_Rooms',
       'Commissionable_Revenue', 'Gross_Commission_Due', 'Adjustment_Amount',
       'Net_Commission_Due', 'Commission_Percentage', 'Commission_Flat_Amount',
       'Transaction_Currency_Code', 'Total_Tax_Records', 'Total_Tax_Amount',
       'Rate_Plan', 'Promotion_Code', 'Agency_Name', 'Agency_Address_1',
       'Agency_Address_2', 'Agency_Address_3', 'Agency_City',
       'Agency_State_Province_Code', 'Agency_Country_Code',
       'Agency_Postal_Code', 'Agency_Phone_Number', 'Agency_Payment_Currency',
       'Report_ID', 'Surrogate_Number', 'Parent_Child_Indicator',
       'Affiliation_Of_TA', 'Primary_Source_Code', 'Secondary_Source_Code',
       'Invoice_Flag', 'Commission_Processing_Flag', 'Grouping_ID',
       'Third_Party_Fee_Invoice_Code', 'Third_Party_Fee_Amount_USD',
       'Category_ID', 'GDS_Confirmation_Number', 'Brand_Code'],
      dtype='object')

In [172]:
#dataset2 = pq.ParquetDataset('/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/pqt/osfdata_part_parquet95')

In [173]:
#df["Brand_Code"].value_counts()

In [174]:
table = pa.Table.from_pandas(dataset1)

In [175]:
pq.write_to_dataset(table, root_path = '/Users/raju.pillai/gitrepo/python/data/DataAcquisition/output/stay/osfdata_part95_711_parquet',partition_cols=['Brand_Code'], compression='none', use_dictionary=False)